.chat-box{
  max-height: 500px;
}

.messages-wrapper {
  padding: 30px;
  margin-bottom: 60px;
  max-height: 300px;
  overflow: auto;
}
.chat-bubble {
  padding: 15px;
  background-color: #7cc5d9;
  color: #1c2c4c;
  width: max-content;
  max-width: calc(100% - 50px);
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.chat-bubble.right {
  margin-left: auto;
  background-color: #fff;
  box-shadow: -2px 2px 1px 1px #88dded;
}
.user-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #1c2c4c;
}
.user-message {
  word-break: break-all;
}